
.img{
    height: 5.2rem;
    width: 5.2rem;
}
li{
    line-height: 3.75rem;
   
}
gm{
    line-height: 2.75rem;
 
   
}
#overLay{
    width: 68vh;
    height: 68vh;
    border-radius: 100%;
    background-color: #0a08631b;
    margin-top: 160px;
    color: white;
}